<div>
    <ul>
        <li class="is-hidden-touch">
            <a href="https://github.com/CamiloCastellanos" target="_blank">
                <i class="fa fa-github-alt github fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="is-hidden-touch">
            <a href="https://www.linkedin.com/in/juan-camilo-castellanos-puentes-0b6376152/" target="_blank">
                <i class="fa fa-linkedin linkedin fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <app-contact-information></app-contact-information>
        </li>
    </ul>
</div>