<div class="center-card mt-5" *ngFor="let item of workList">
  <figure class="movie">
    <div class="movie__hero">
      <img [src]="item.image" alt="Rambo" class="movie__img" />
    </div>
    <div class="movie__content">
      <div class="movie__title">
        <h1 class="heading__primary">
          {{ item.title }}
        </h1>
        <div class="movie__tag" *ngIf="language == 'es'">
          {{ item.startDate }} - {{ item.endDate }}
        </div>

        <div class="movie__tag" *ngIf="language == 'en'">
          {{ item.startDate }} - {{ item.endDateEn }}
        </div>
      </div>
      <p class="movie__description" *ngIf="language == 'es'">
        Cargo 🧑🏼‍💻: {{ item.description }}
      </p>
      <p class="movie__description" *ngIf="language == 'en'">
        Position 🧑🏼‍💻: {{ item.descriptionEn }}
      </p>
      <a
        [href]="item.url"
        target="_blank"
        class="button is-outlined is-primary is-normal mt-3"
        *ngIf="item.url != '' && item.url != '#'"
      >
        {{ textButton }}
      </a>
    </div>
  </figure>
</div>
