<div class="center-card mt-5" *ngFor="let item of workList">
  <figure class="card-work">
    <div class="card-hero">
      <img [src]="item.image" alt="Rambo" class="card-image" />
    </div>
    <div class="card-content">
      <div class="card-title">
        <h1 class="card-primary">
          {{ item.title }}
        </h1>
        <div class="card-date" *ngIf="language == 'es'">
          {{ item.startDate }} - {{ item.endDate }}
        </div>

        <div class="card-date" *ngIf="language == 'en'">
          {{ item.startDate }} - {{ item.endDateEn }}
        </div>
      </div>
      <p class="card-description" *ngIf="language == 'es'">
        Cargo 🧑🏼‍💻: {{ item.description }}
      </p>
      <p class="card-description" *ngIf="language == 'en'">
        Position 🧑🏼‍💻: {{ item.descriptionEn }}
      </p>
      <a
        [href]="item.url"
        target="_blank"
        class="button is-outlined is-primary is-normal mt-3"
        *ngIf="item.url != '' && item.url != '#'"
      >
        {{ textButton }}
      </a>
    </div>
  </figure>
</div>
