<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column margin-left">
                <img src="assets/image/logo/multiPlatform2.gif" width="112" height="28">
                <h1 class="has-text-primary-light">Dev-Castellanos</h1>
                <div>
                    <a class="mr-3" href="https://www.linkedin.com/in/juan-camilo-castellanos-puentes-0b6376152/">
                        <i class="fa fa-linkedin-square fa-3x linkedin"></i>
                    </a>
                    <a class="mr-3" href="https://github.com/CamiloCastellanos">
                        <i class="fa fa-github fa-3x github"></i>
                    </a>
                </div>

            </div>
            <div class="column margin-right">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</footer>
