<nav class="navbar relleno is-fixed-top" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="home">
            <img src="assets/image/logo/multiPlatform2.gif" width="30" height="100%" alt="DevCastellanos">
            <h1 class="has-text-white-ter">Dev-Castellanos</h1>
        </a>

        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu" id="burger" (click)="desplegar()">
            <span class="has-text-white-ter"></span>
            <span class="has-text-white-ter"></span>
            <span class="has-text-white-ter"></span>
        </div>
    </div>

    <div id="navBarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item has-text-white-ter" routerLink="home" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <span>Perfil</span>
            </a>
            <a class="navbar-item has-text-white-ter" routerLink="trabajos" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </span>
                <span>Trabajos</span>
            </a>
            <a class="navbar-item has-text-white-ter" routerLink="proyectosPersonales" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                </span>
                <span>Proyectos Personales</span>
            </a>
            <a class="navbar-item has-text-white-ter" routerLink="seguirAprendiendo" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </span>
                <span>Seguir aprendiendo</span>
            </a>
        </div>
    </div>

</nav>