<div class="section">
    <div class="columns mt-6 mb-6">
        <div class="column">
            <div class="contenedorTitulo">
                <h1 class="textoDetras title is-1 has-text-centered is-uppercase">Conocimiento</h1>
                <h1 class="textoEncima title is-1 has-text-centered is-uppercase">Seguir Aprendiendo</h1>
            </div>
        </div>
    </div>
</div>
<div class="container mg-large mt-6 mb-6">
    <div class="section">
        <div class="row columns is-multiline">
            <div class="column is-4" *ngFor="let item of listaTitulos">
                <figure class="image zoom is-16by9">
                    <img src="{{item.imagen}}" alt="{{item.titulo}}" />
                </figure>
            </div>
        </div>
    </div>
</div>
