@if (workList().length > 0) {
  <div id="scene">
    <div id="left-zone">
      <ul class="list">
        @for (item of sortedWorkList(); track item; let index = $index) {
          <li class="item">
            <input
              type="radio"
              [id]="'item' + index"
              name="basic_carousel"
              [checked]="index == 0"
              />
              <label
                class="label_order{{ item.order }} typography-lora font-weight-700"
                [for]="'item' + index"
                >
                {{ item.title }}
              </label>
              <div class="content typography-open-sans font-weight-600">
                <img [src]="item.image" alt="" class="image" width="35%" />
                @if (language == 'es') {
                  <p class="mt-2 has-text-centered">
                    Cargo 🧑🏼‍💻: {{ item.description | uppercase }}
                  </p>
                }
                @if (language == 'en') {
                  <p class="mt-2 has-text-centered">
                    Position 🧑🏼‍💻: {{ item.descriptionEn | uppercase }}
                  </p>
                }
                <p class="mt-1">{{ item.startDate }} - {{ item.endDate }}</p>
                @if (item.url != '' && item.url != '#') {
                  <a
                    [href]="item.url"
                    target="_blank"
                    class="button is-outlined is-primary is-normal"
                    >
                    {{ textButton }}
                  </a>
                }
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  }
