.navbar-mobile {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.menu {
  box-sizing: border-box;
  --duration: 0.7s;
}

.menu {
  margin: 0;
  display: flex;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--color-navbar-mobile);
  box-shadow: 0 0 50px 10px var(--color-box-shadow-mobile);
}

.menu-item {
  all: unset;
  flex-grow: 1;
  flex: 1 1 0;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut, var(--duration));
}

.menu-item::before {
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu-item.active {
  transform: translate3d(0, -0.8em, 0);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu-item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu-border {
  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--color-navbar-mobile);
  transition: transform var(--timeOut, var(--duration));
}

.svg-container {
  width: 0;
  height: 0;
}

@media screen and (max-width: 50em) {
  .menu {
    font-size: 0.8em;
  }
}

.menu-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.languages {
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 50px;
  height: 50px;
}
