<section class="section">
  <div class="container">
    <div class="has-text-centered mb-6">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO_PROJECT" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO_PROJECT" | translate }}
      </h1>
    </div>
    <div class="containerLibro mt-6 my-3 is-hidden-touch" href="#">
      <div *ngFor="let project of projectList" class="libro">
        <a [href]="project.url" target="_blank">
          <div class="imagenLibro image is-4by5">
            <img
              [src]="project.image2"
              alt="Camilo Castellanos - {{ project.title }}"
              width=" 300px"
              height="400px"
            />
          </div>
          <div class="contenido">
            <h2 class="title is-3 has-text-centered" *ngIf="language == 'es'">
              {{ project.title }}
            </h2>
            <p class="has-text-justified" *ngIf="language == 'es'">
              {{ project.description }}
            </p>
            <h2 class="title is-3 has-text-centered" *ngIf="language == 'en'">
              {{ project.titleEn }}
            </h2>
            <p class="has-text-justified" *ngIf="language == 'en'">
              {{ project.descriptionEn }}
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row columns is-multiline is-hidden-desktop">
      <div *ngFor="let project of projectList" class="column is-6">
        <div class="card transparente">
          <div class="card-image mb-0">
            <img
              [src]="project.image"
              alt=""
              style="height: 200px; width: 100%"
            />
          </div>
          <div class="card-content">
            <div class="media mb-0">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img [src]="project.tool" alt="Image" />
                </figure>
              </div>
              <div
                class="media-content is-flex is-justify-content-center is-align-content-center"
              >
                <p class="title is-6 no-padding" *ngIf="language == 'es'">
                  {{ project.title | uppercase }}
                </p>
                <p class="title is-6 no-padding" *ngIf="language == 'en'">
                  {{ project.titleEn | uppercase }}
                </p>
              </div>
            </div>
            <div class="content my-0 mb-0">
              <p class="has-text-justified" *ngIf="language == 'es'">
                {{ project.description }}
              </p>
              <p class="has-text-justified" *ngIf="language == 'en'">
                {{ project.descriptionEn }}
              </p>
              <app-redirect-button
                [href]="project.url"
                class="is-flex is-justify-content-center is-align-content-center mt-2"
                [buttonText]="textButton"
              ></app-redirect-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Herramientas">
    <app-tools-languages
      [tipoListaDefault]="2"
      [tipoLista]="1"
    ></app-tools-languages>
  </div>
</section>
