<section class="section">
  <div class="container">
    <div class="has-text-centered mb-6">
      <h1 class="top-text title is-2 is-uppercase">
        {{ "TITULO_PROJECT" | translate }}
      </h1>
      <h1 class="bottom-text subtitle is-uppercase">
        {{ "SUBTITULO_PROJECT" | translate }}
      </h1>
    </div>

    <app-book
      [projectList]="projectList"
      [language]="language"
      class="is-hidden-touch"
    ></app-book>

    <app-project-mobile
      [language]="language"
      [projectList]="projectList"
      class="is-hidden-desktop"
    ></app-project-mobile>
  </div>

  <div id="Herramientas">
    <app-tools-languages
      [tipoListaDefault]="2"
      [tipoLista]="1"
    ></app-tools-languages>
  </div>
</section>
