<div class="container mt-6 mb-6">
    <div class="section">
        <div class="columns mb-6">
            <div class="contenedorTitulo column has-text-centered">
                <h1 class="textoDetras title is-1 has-text-centered is-uppercase">Personales</h1>
                <h1 class="textoEncima title is-1 has-text-centered is-uppercase">Proyectos</h1>
            </div>
        </div>
        <div id="app" class="row columns is-multiline">
            <div *ngFor="let proyecto of listaProyecto" class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="{{proyecto.imagen}}" alt="Imagen del Proyecto">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img :src="assets/image/project/{{proyecto.lenguaje}}" alt="Lenguaje de Programacion">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4 no-padding "> {{proyecto.titulo}} </p>
                                <p>
                                    <span class="is-6">
                                      <p> {{proyecto.descripcion}}
                                      </p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{proyecto.url}}" class="card-footer-item">
                            <i class="fa fa-code-fork fa-lg" aria-hidden="true"></i>
                        </a>
                    </footer>
                </div>
            </div>

        </div>
    </div>
</div>
