<section class="section">

    <!-- Titulos -->
    <div class="has-text-centered">
        <h1 class="textoDetras title is-2 is-uppercase">{{ "TITULO_LEARNING" | translate }}</h1>
        <h1 class="textoEncima subtitle is-uppercase">{{ "SUBTITULO_LEARNING" | translate }}</h1>
    </div>

    <!-- Imagenes Zoom -->
    <div class="container is-hidden-touch">
        <div class="section">
            <div class="row columns is-multiline">
                <div class="column is-4" *ngFor="let item of listaTitulos">
                    <figure class="image zoom is-16by9">
                        <img src="{{item.imagen}}" alt="Camilo Castellanos - {{item.titulo}}" />
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- Imagenes Lista -->
    <div class="container is-hidden-desktop">
        <div class="section transparent">
            <div class="box transparente" *ngFor="let item of listaTitulos">
                <figure class="image is-5by3">
                    <img src="{{item.imagen}}" alt="Camilo Castellanos - {{item.titulo}}" />
                </figure>
            </div>
        </div>
    </div>
</section>
