<section class="section">

    <!-- Titulos -->
    <div class="mt-6 mb-6">
        <div class="contenedorTitulo is-hidden-touch">
            <h1 class="textoDetras title is-1 has-text-centered is-uppercase">Seguir Aprendiendo</h1>
            <h1 class="textoEncima title is-1 has-text-centered is-uppercase">Conocimiento</h1>
        </div>
        <div class="contenedorTitulo is-hidden-desktop">
            <h1 class="textoDetrasMovil title is-1 has-text-centered is-uppercase">Seguir Aprendiendo</h1>
            <h1 class="textoEncimaMovil title is-1 has-text-centered is-uppercase">Conocimiento</h1>
        </div>
    </div>

    <!-- Imagenes Zoom -->
    <div class="container is-hidden-touch">
        <div class="section">
            <div class="row columns is-multiline">
                <div class="column is-4" *ngFor="let item of listaTitulos">
                    <figure class="image zoom is-16by9">
                        <img src="{{item.imagen}}" alt="Camilo Castellanos - {{item.titulo}}" />
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- Imagenes Lista -->
    <div class="container is-hidden-desktop">
        <div class="box" *ngFor="let item of listaTitulos">
            <figure class="image is-5by3">
                <img src="{{item.imagen}}" alt="Camilo Castellanos - {{item.titulo}}" />
            </figure>
        </div>
    </div>
</section>