<div class="section-light contact" id="contact">
    <div class="container">
        <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
            <div class="column is-12 about-me">
                <h1 class="title is-1 has-text-centered section-title has-text-primary-light">
                    Contactame
                </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <form>
                    <div class="field">
                        <label class="label has-text-primary-light subtitle is-4">Nombre</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Nombre Ex. Camilo Castellanos" name="Name" required/>
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-primary-light subtitle is-4">Correo</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="Correo Ex. hello@gmail.com" name="Email" required/>
                            <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-primary-light subtitle is-4">Mensaje</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Mensaje" name="Message" required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control ">
                            <button class="button submit-button" (click)="envioCorreo()">
                              Enviar
                              <i class="fa fa-paper-plane-o"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
