<div class="section-light contact" id="contact">
    <div class="container">
        <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">
                    Contactame
                </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <form action="https://formspree.io/email@example.com" method="POST">
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Ex. Jane Smith" name="Name" required/>
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Correo</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="Ex. hello@arctheme.com" name="Email" required/>
                            <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mensaje</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea" name="Message" required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control ">
                            <button class="button submit-button">
                              Enviar
                              <i class="fa fa-paper-plane-o"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
