<section class="section" id="about">

    <!-- Descripcion -->
    <div class="section-heading has-text-centered">
        <h3 class="title is-2">Sobre Mí</h3>
        <h4 class="subtitle is-5">Cambiando al mundo una línea de código a al vez.</h4>
        <div class="container">
            <p>
                Desarrollador desde el <strong> 2018</strong> , con titulo en <strong>ingeniería de Sistemas.</strong> Con gran animo para trabajar y mejorar.
            </p>
        </div>
    </div>

    <br>

    <div class="columns has-same-height is-gapless">
        <!-- Habilidades -->
        <div class="column">
            <div class="card">
                <div class="card-content skills-content">
                    <h3 class="title is-4">Habilidades Personales</h3>
                    <div class="content">

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Responsabilidad:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="70" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Ingenio:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="77" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Solucion a Retos:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="75" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Relaciones Interpersonales:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="70" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Trabajo en Equipo:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="80" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <!-- Foto -->
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="assets/image/photo/paracaidasCamilo.gif" alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>

        <!-- Lenguajes -->
        <div class="column">
            <div class="card">
                <div class="card-content skills-content">
                    <h3 class="title is-4">Habilidades Programación</h3>
                    <div class="content">

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>C#:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="75" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Angular:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="70" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>JavaScript:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="60" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>MongoDB</strong>
                                        <br>
                                        <progress class="progress is-primary" value="30" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Bases de Datos</strong>
                                        <br>
                                        <progress class="progress is-primary" value="80" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Perfil -->
    <div class="column has-text-centered">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-4">Perfil</h3>

                <div class="content">
                    <table class="table-profile">
                        <tr>
                            <th colspan="1"></th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <td>Nombre:</td>
                            <td>Juan Camilo Castellanos Puentes</td>
                        </tr>
                        <tr>
                            <td>Residencia:</td>
                            <td>Colombia/Bogotá</td>
                        </tr>
                        <tr>
                            <td>Carrera:</td>
                            <td>Ingeniero de Sistemas</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Services -->
<section class="section" id="services">
    <div class="section-heading">
        <h3 class="title is-2 has-text-centered">Experiencia</h3>
        <h4 class="subtitle is-5 has-text-centered">¿Qué puedo hacer por ti?</h4>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Desarrollador Front End</h4>
                        Desarrolle Front End usando los últimos estándares con funcionalidad agregada usando Angular.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Desarrollador Back End</h4>
                        Desarrolle aplicaciones / servicios de Back End usando ASP .NET, Oracle, SQL Server o bases de datos Mongo DB.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hoja de Vida -->
<section class="section has-text-centered" id="resume">
    <div class="section-heading">
        <h3 class="title is-2">Currículum</h3>
        <h4 class="subtitle is-5">Más sobre mi pasado</h4>
        <a href="#" class="button is-link is-medium">
            <span class="icon">
              <i class="fas fa-file-alt"></i>
            </span>
            <span>Descargar mi currículum</span>
        </a>
    </div>
</section>
