<section class="section is-fullheight">
    <div class="container">
        <div class="has-text-centered  is-hidden-touch">
            <div class="columns">

                <div class="column">
                    <figure class="image">
                        <img src="https://i.postimg.cc/TwbjKTTK/Camilo-Castellanos.jpg" class="is-rounded" alt="Juan Camilo Castellanos Puentes - Camilo Castellanos">
                    </figure>
                </div>

                <!-- Descripcion -->

                <div class="column">
                    <div class="row">
                        <h1 class="has-text-centered is-size-4">
                            <strong class="title is-2">{{ "SALUDO_HOME" | translate }}</strong>
                        </h1>
                        <p class="has-text-centered is-size-4">
                            <strong class="has-text-light">{{"NOMBRE_HOME"|translate}}</strong>
                        </p>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="box has-background-success-dark transparente">
                                <ngx-typed-js [strings]="fraseHome" [shuffle]="true" [typeSpeed]="150" [backSpeed]="50" [backDelay]="500" [startDelay]="1000" [loop]="true" class="title is-3 is-uppercase has-text-white-ter">
                                    <span class="typing"></span>
                                </ngx-typed-js>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="has-text-centered is-hidden-desktop">
            <div class="columns">

                <div class="column">
                    <figure class="image is-1by1">
                        <img src="https://i.postimg.cc/TwbjKTTK/Camilo-Castellanos.jpg" class="is-rounded" alt="Juan Camilo Castellanos Puentes - Camilo Castellanos">
                    </figure>
                </div>

                <!-- Descripcion -->

                <div class="column">
                    <div class="row">
                        <h1 class="has-text-centered is-size-4">
                            <strong class="title is-2">{{ "SALUDO_HOME" | translate }}</strong>
                        </h1>
                        <p class="has-text-centered is-size-4">
                            <strong class="has-text-light">{{"NOMBRE_HOME"|translate}}</strong>
                        </p>
                    </div>
                    <div class="row mt-3">
                        <div class="box has-background-success-dark transparente">
                            <ngx-typed-js [strings]="fraseHome" [shuffle]="true" [typeSpeed]="150" [backSpeed]="50" [backDelay]="500" [startDelay]="1000" [loop]="true" class="is-size-4 is-uppercase has-text-white-ter">
                                <span class="typing"></span>
                            </ngx-typed-js>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>