<section>
    <!-- Descripcion -->
    <div class="has-text-centered  is-hidden-touch">
        <div class="columns px-6 pb-6 m-6">
            <div class="column m-6">
                <figure class="image is-1by1">
                    <img src="https://i.postimg.cc/TwbjKTTK/Camilo-Castellanos.jpg" class="is-rounded" alt="Juan Camilo Castellanos Puentes - Camilo Castellanos">
                </figure>
            </div>
            <div class="column px-6 m-6">
                <div class="row">
                    <h1 class="has-text-centered is-size-4">
                        <strong class="title is-2">Hola!</strong>
                    </h1>
                    <p class="has-text-justified is-size-4">
                        Mi nombre es <strong class="has-text-primary">Camilo Castellanos</strong>. Soy desarrollador de software desde el
                        <strong class="has-text-primary"> 2018</strong>, con título en
                        <strong class="has-text-primary">Ingeniería de Sistemas.</strong>
                    </p>
                </div>
                <div class="row mt-6">
                    <div class="row mt-6">
                        <div class="box has-background-primary-dark">
                            <h1 class=" "></h1>
                            <ngx-typed-js [strings]="['Cambiando al mundo una línea de código a la vez.']" [shuffle]="true" [typeSpeed]="150" [backSpeed]="50" [backDelay]="500" [startDelay]="1000" [loop]="true" class="title is-1 is-uppercase has-text-white-ter">
                                <span class="typing"></span>
                            </ngx-typed-js>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="has-text-centered mt-6 is-hidden-desktop px-2 py-1">
        <div class="columns mt-6 px-4 pb-4">
            <div class="column mt-6">
                <figure class="image is-1by1">
                    <img src="https://i.postimg.cc/TwbjKTTK/Camilo-Castellanos.jpg" class="is-rounded" alt="Juan Camilo Castellanos Puentes - Camilo Castellanos">
                </figure>
            </div>
            <div class="column">
                <div class="row">
                    <h1 class="has-text-centered is-size-4">
                        <strong class="title is-2">Hola!</strong>
                    </h1>
                    <p class="has-text-centered is-size-4">
                        Mi nombre es <strong class="has-text-primary">Camilo Castellanos</strong>
                    </p>
                </div>
                <div class="row mt-3 mb-6">
                    <div class="box has-background-primary-dark">
                        <h1 class=" "></h1>
                        <ngx-typed-js [strings]="['Cambiando al mundo una línea de código a la vez.']" [shuffle]="true" [typeSpeed]="150" [backSpeed]="50" [backDelay]="500" [startDelay]="1000" [loop]="true" class="is-size-4 is-uppercase has-text-white-ter">
                            <span class="typing"></span>
                        </ngx-typed-js>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
