<div class="section">
    <div class="columns mt-6 mb-6">
        <div class="column">
            <div class="contenedorTitulo">
                <h1 class="textoDetras title is-1 has-text-centered is-uppercase">Mis Trabajos</h1>
                <h1 class="textoEncima title is-1 has-text-centered is-uppercase">Mi Experiencia</h1>
            </div>
        </div>
    </div>
</div>
<div class="is-centered contenedorLineaTiempo mb-6 is-hidden-touch">
    <div class="container">
        <div class="columns is-multiline momentoLineaTiempo" *ngFor="let trabajo of listaTrabajo">
            <figure class="image snip0015 mt-6 mb-6 mr-6 ml-6">
                <img src="{{trabajo.imagen}}" class="imagen" alt="Camilo Castellanos trabajo en {{trabajo.titulo | uppercase}}" />
                <figcaption>
                    <h2 class="has-text-centered">{{trabajo.titulo | uppercase}}</h2>
                    <p class="has-text-centered">{{trabajo.fechaInicio}} - {{trabajo.fechaFin}}</p>
                    <p class="has-text-centered">Cargo: {{trabajo.descripcion | uppercase}}</p>
                    <a href="{{trabajo.url}}"></a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container mt-6 mb-6">
    <div class="section">
        <div id="app" class="row columns is-multiline is-hidden-desktop">
            <div *ngFor="let trabajo of listaTrabajo" class="column is-4">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image snip0015">
                            <img src="{{trabajo.imagen}}" alt="Camilo Castellanos trabajo en {{trabajo.titulo | uppercase}}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 no-padding "> {{trabajo.titulo | uppercase}} </p>
                                <p>
                                    <span class="subtitle is-6">
                                        <p>{{trabajo.fechaInicio}} - {{trabajo.fechaFin}}</p>
                                        <p>Cargo:</p>
                                        <p>{{trabajo.descripcion | uppercase}}</p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{trabajo.url}}" class="card-footer-item">
                            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                        </a>
                    </footer>
                </div>
            </div>

        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>