<div class="section">
    <div class="columns mt-6 mb-6">
        <div class="column">
            <div class="contenedorTitulo">
                <h1 class="textoDetras title is-1 has-text-centered is-uppercase">Mi Experiencia</h1>
                <h1 class="textoEncima title is-1 has-text-centered is-uppercase">Mis Trabajos</h1>
            </div>
        </div>
    </div>
</div>
<div class="is-centered contenedorLineaTiempo mb-6">
    <div class="container">
        <div class="columns is-multiline momentoLineaTiempo" *ngFor="let trabajo of listaTrabajo">
            <figure class="image snip0015 mt-6 mb-6 mr-6 ml-6">
                <img src="assets/image/work/{{trabajo.imagen}}" class="imagen" />
                <figcaption>
                    <h2 class="has-text-centered	">{{trabajo.titulo}}</h2>
                    <p class="has-text-centered	">{{trabajo.descripcion}} </p>
                    <a href="{{trabajo.url}}"></a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
