<nav class="navbar is-fixed-top is-hidden-touch" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span id="logo" class="navbar-item has-text-black">
            <img src="assets/image/logo/multiPlatform2.gif" width="30" height="100%" alt="DevCastellanos">
            <h1 class="has-text-black no-seleccion-texto">Dev-Castellanos</h1>
        </span>

        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu" id="burger" (click)="desplegar()">
            <span class="has-text-black"></span>
            <span class="has-text-black"></span>
            <span class="has-text-black"></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item has-text-black" routerLink="home" (click)="recoger()">
                <span class="icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                <span>Home</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="perfil" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <span>Perfil</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="trabajos" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </span>
                <span>Trabajos</span>
            </a>

            <span class="navbar-item force-center is-hidden-touch" routerLink="home" (click)="recoger()">
                <img src="assets/image/logo/multiPlatform2.gif" width="30" height="100%" alt="DevCastellanos">
                <h1 class="has-text-black no-seleccion-texto">Dev-Castellanos</h1>
            </span>

            <a class="navbar-item has-text-black" routerLink="proyectosPersonales" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                </span>
                <span>Proyectos Personales</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="seguirAprendiendo" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </span>
                <span>Seguir aprendiendo</span>
            </a>
        </div>
    </div>

</nav>

<nav class="navbar is-fixed-top is-hidden-desktop fondoMovil" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span id="logo" class="navbar-item has-text-black">
          <img src="assets/image/logo/multiPlatform2.gif" width="30" height="100%" alt="DevCastellanos">
          <h1 class="has-text-black no-seleccion-texto">Dev-Castellanos</h1>
      </span>

        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBarMenu" id="burger" (click)="desplegar()">
            <span class="has-text-black"></span>
            <span class="has-text-black"></span>
            <span class="has-text-black"></span>
        </div>
    </div>

    <div id="navBarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item has-text-black" routerLink="home" (click)="recoger()">
                <span class="icon">
                <i class="fa fa-home" aria-hidden="true"></i>
              </span>
                <span>Home</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="perfil" (click)="recoger()">
                <span class="icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
              </span>
                <span>Perfil</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="trabajos" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
              </span>
                <span>Trabajos</span>
            </a>

            <span class="navbar-item force-center is-hidden-touch" routerLink="home" (click)="recoger()">
              <img src="assets/image/logo/multiPlatform2.gif" width="30" height="100%" alt="DevCastellanos">
              <h1 class="has-text-black no-seleccion-texto">Dev-Castellanos</h1>
          </span>

            <a class="navbar-item has-text-black" routerLink="proyectosPersonales" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                  <i class="fa fa-code-fork" aria-hidden="true"></i>
              </span>
                <span>Proyectos Personales</span>
            </a>
            <a class="navbar-item has-text-black" routerLink="seguirAprendiendo" routerLinkActive="activo" (click)="recoger()">
                <span class="icon">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </span>
                <span>Seguir aprendiendo</span>
            </a>
        </div>
    </div>

</nav>