.navbar {
    background-color: transparent;
}

.navbar-menu {
    background-color: transparent;
}

nav a,
nav a:after,
nav a:before {
    transition: all .5s;
}

#logo {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.navbar-end {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.no-seleccion-texto {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
      supported by Chrome, Edge, Opera and Firefox
      */
}


/*Color del Hover en el navBar*/

.navbar-item:hover,
.navbar-item:focus {
    background-color: transparent;
    border-radius: 50px;
}

a {
    text-decoration: none;
    background-image: -webkit-linear-gradient(currentColor, currentColor);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5rem;
    transition: background-size .3s;
    border-bottom: 4px solid transparent;
}

a:hover {
    background-size: 100% 0.5rem;
}


/* Manejo responsive menu */

@media screen and (max-width: 1024px - 1px) {
    #logo {
        display: none;
    }
    .force-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-end {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        display: none;
    }
}