<div class="section-light contact" id="contact">
    <div class="container">
        <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
            <div class="column is-12 about-me">
                <h1 class="title is-1 has-text-centered section-title has-text-primary-light">
                    Contactame
                </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=camilo.castellanos.puentes@gmail.com" target="_blank" class="button is-primary is-rounded is-large">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Hablemos más
                </a>
            </div>
        </div>
    </div>
</div>
