<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <a href="https://github.com/CamiloCastellanos" target="_blank" class="icon is-large has-text-white">
                <i class="fa fa-github-alt github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/juan-camilo-castellanos-puentes-0b6376152/" target="_blank" class="icon is-large has-text-white">
                <i class="fa fa-linkedin linkedin fa-2x"></i>
            </a>
            <p class="has-text-white">
                {{"FOOTER_TEXTO1"|translate}} <i class="corazon fa fa-heart has-text-danger"></i> {{"FOOTER_TEXTO2"|translate}}
            </p>
        </div>
    </div>
</footer>