.footer {
    background-color: transparent;
}

.corazon {
    animation: latidos 1.5s infinite;
}

@keyframes latidos {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: none;
    }
}