.pets-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
}

.pets-image image {
  width: 50%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .pets-image image {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 0%;
  }
}
