<div class="rows">
  <div class="columns">
    <div class="column mt-6">
      <article class="is-size-6" [innerHTML]="'ABOUT' | translate"></article>
      <div class="field has-addons mt-2">
        <p class="control has-icons-left has-icons-right is-expanded">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </span>
          <input
            class="input transparente disabled-input"
            type="text"
            [value]="email"
            disabled
          />
        </p>
        <p class="control">
          <button
            class="button is-primary is-rounded has-tooltip-primary"
            (click)="copyEmail()"
            data-tooltip="Copy"
            *ngIf="lang == 'en'"
          >
            <i class="fa fa-files-o" aria-hidden="true"></i>
          </button>

          <button
            class="button is-primary is-rounded has-tooltip-primary"
            (click)="copyEmail()"
            data-tooltip="Copiar"
            *ngIf="lang == 'es'"
          >
            <i class="fa fa-files-o" aria-hidden="true"></i>
          </button>
        </p>
      </div>
    </div>
    <div class="column pets-image">
      <img
        src="../../../../assets/image/photo/mascotas.webp"
        alt="mascotas Camilo Castellanos"
      />
    </div>
  </div>
</div>
