.pets-image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
}

.pets-image image {
  width: 50%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .pets-image image {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 0%;
  }
}

[data-tooltip]:not(.is-disabled).has-tooltip-primary:before,
[data-tooltip]:not(.is-loading).has-tooltip-primary:before,
[data-tooltip]:not([disabled]).has-tooltip-primary:before {
  background-color: var(--color-box-home);
  border-color: var(--text-secondary);
  color: var(--text-secondary);
}

.outlined {
  background-color: transparent !important;
  border-color: var(--text-secondary);
  color: var(--text-secondary);
}
