@import "styles/typography.scss";
@import "styles/ngx-translate.scss";

:root {
  --color-primary: #348f50;
  --color-secondary: #56b4d3;
}

html {
  background: var(--color-primary);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transparente {
  opacity: 0.6;
}

.carousel {
  overflow: hidden;
}

.no-text-selection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox
    */
}

.disabled-input {
  cursor: not-allowed;
  user-select: none;
}

.center-element{
    display: flex;
  justify-content: center;
  align-items: center;
}
