@import "styles/typography.scss";
@import "styles/ngx-translate.scss";

:root {
  --color-primary: #348f50;
  --color-secondary: #56b4d3;
  --text-primary: #2b2d42;
  --text-secondary: #495057;
  --text-terciary: #f8f9fa;
  --color-card-word: #f8f9fa;
  --color-flag-learn: #cbe9f2;
  --color-navbar-mobile: #2a7a41;
  --color-box-shadow-mobile: rgba(52, 143, 80, 0.27);
}
//2a7a40
.dark-theme {
  --color-primary: #0c2e1d;
  --color-secondary: #1a3a4b;
  --text-primary: #f8f9fa;
  --text-secondary: #adb5bd;
  --text-terciary: #495057;
  --color-card-word: #1a3a4b66;
  --color-flag-learn: #245874;
  --color-navbar-mobile: #1a3a4b;
  --color-box-shadow-mobile: rgba(255, 255, 255, 0.27);
}

html {
  background: var(--color-primary);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transparente {
  opacity: 0.6;
}

.carousel {
  overflow: hidden;
}

.no-text-selection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox
    */
}

.disabled-input {
  cursor: not-allowed;
  user-select: none;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
