* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedorTitulo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.textoEncima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem!important;
    width: 100%!important;
    font-weight: 610!important;
}

.textoDetras {
    font-size: calc(1.95rem + 4.4vw)!important;
    color: #dee9ed!important;
    opacity: .7;
    font-weight: 610!important;
    width: 100%!important;
    margin-bottom: 0!important;
}

.textoEncimaMovil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.95rem!important;
    width: 100%!important;
    font-weight: 610!important;
}

.textoDetrasMovil {
    font-size: calc(1.95rem + 2.0vw)!important;
    color: #dee9ed !important;
    opacity: .7;
    font-weight: 610!important;
    width: 100%!important;
    margin-bottom: 0!important;
}


/*Cambio en el ScrollBar del Navegador*/

body::-webkit-scrollbar {
    background: #348F50;
    width: 0.7rem;
}

body::-webkit-scrollbar-track {
    background: #348F50;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #4FDB79;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:active {
    background: #4FDB79;
}