<div class="has-text-centered is-hidden-desktop">
  <div class="row center-image">
    <figure class="image photo">
      <img
        [ngSrc]="'https://i.postimg.cc/QCbPNmvJ/Camilo-Castellanos.webp'"
        class="is-rounded"
        style="position: relative"
        alt="Juan Camilo Castellanos Puentes - Camilo Castellanos"
        priority
        fill
      />
    </figure>
  </div>

  <div class="row has-text-centered">

    <h1 class="is-size-3">
      <strong class="has-text-light" [ngClass]="typographyTitle">{{
        "NOMBRE_HOME" | translate
      }}</strong>
    </h1>
    <p class="is-size-4">
      <strong [ngClass]="typographyText">{{
        "SUBTITULO_HOME" | translate
      }}</strong>
    </p>
    <p class="is-size-4" [ngClass]="typographyText">👨‍💻</p>
  </div>
  <div class="row mt-3 mb-0 pb-0">
    <div class="box transparente" [ngClass]="typographyTypeWriter">
      {{ phrase[0] }}
    </div>
  </div>
</div>
