<section class="section" id="profile">
  <div class="container">
    <div class="has-text-centered section-heading">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO1_PROFILE" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO1_PROFILE" | translate }}
      </h1>
    </div>

    <div class="box mt-6 transparente">
      <div class="content">
        <table class="table has-text-centered">
          <tbody>
            <tr>
              <td>{{ "TITULO_NOMBRE_PROFILE" | translate }}</td>
              <td>{{ "INFORMACION_NOMBRE_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "TITULO_RESIDENCIA_PROFILE" | translate }}</td>
              <td>{{ "INFORMACION_RESIDENCIA_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "TITULO_CARRERA_PROFILE" | translate }}</td>
              <td>{{ "INFORMACION_CARRERA_PROFILE" | translate }}</td>
            </tr>
            <tr>
              <td>{{ "TITULO_POSTGRADO_PROFILE" | translate }}</td>
              <td>
                {{ "INFORMACION_POSTGRADO1_PROFILE" | translate }}
                <br />
                {{ "INFORMACION_POSTGRADO2_PROFILE" | translate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="section" id="services">
  <div class="container">
    <div class="has-text-centered section-heading">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO2_PROFILE" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO_PROFILE" | translate }}
      </h1>
    </div>

    <div class="columns is-vcentered is-centered">
      <div class="column is-half">
        <div class="columns is-vcentered is-centered">
          <div class="column">
            <figure class="image">
              <img
                class="image"
                src="https://i.postimg.cc/vmsHMDbB/FrontEnd.webp"
                alt="dev Castellanos Front End"
              />
            </figure>
          </div>
          <div class="column transparente">
            <div class="box">
              <div class="content">
                <h4 class="has-text-centered title is-5">
                  {{ "FRONTEND_PROFILE" | translate }}
                </h4>
                <p class="has-text-justified">
                  {{ "DESCRIPCION_FRONTEND_PROFILE" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-vcentered is-centered">
          <div class="column transparente">
            <div class="box">
              <div class="content">
                <h4 class="has-text-centered title is-5">
                  {{ "BACKEND_PROFILE" | translate }}
                </h4>
                <p class="has-text-justified">
                  {{ "DESCRIPCION_BACKEND_PROFILE" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="column">
            <figure class="image">
              <img
                class="image"
                src="https://i.postimg.cc/rsnKwTgH/BackEnd.webp"
                alt="dev Castellanos Back End"
              />
            </figure>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div id="Herramientas">
          <app-tools-languages
            [tipoListaDefault]="2"
            [tipoLista]="0"
          ></app-tools-languages>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-6 mb-6" id="resume">
  <div class="container">
    <div class="has-text-centered section-heading">
      <h1 class="textoDetras title is-2 is-uppercase">
        {{ "TITULO3_PROFILE" | translate }}
      </h1>
      <h1 class="textoEncima subtitle is-uppercase">
        {{ "SUBTITULO3_PROFILE" | translate }}
      </h1>

      <a
        href="https://drive.google.com/file/d/1iiOjGLteQNDpTcoNLteAJIJM5gcYWjq7/view?usp=drive_link"
        target="_blank"
        class="is-hidden-touch button is-outlined is-primary is-large is-rounded"
      >
        <span class="icon">
          <i class="fa fa-download"></i>
        </span>
        <span class="is-uppercase has-text-centered">{{
          "DESCARGA_PROFILE" | translate
        }}</span>
      </a>

      <a
        href="https://drive.google.com/file/d/1iiOjGLteQNDpTcoNLteAJIJM5gcYWjq7/view?usp=drive_link"
        target="_blank"
        class="is-hidden-desktop button is-outlined is-primary is-normal"
      >
        <span class="icon">
          <i class="fa fa-download"></i>
        </span>
        <span class="is-uppercase has-text-centered">{{
          "DESCARGA_PROFILE" | translate
        }}</span>
      </a>
    </div>
  </div>
</section>
