<section class="section" id="profile">
  <div class="container">
    <div class="has-text-centered section-heading">
      <h1 class="top-text title is-2 is-uppercase">
        {{ "TITULO1_PROFILE" | translate }}
      </h1>
      <h1 class="bottom-text subtitle is-uppercase">
        {{ "SUBTITULO1_PROFILE" | translate }}
      </h1>
    </div>
    <div class="rows">
      <!-- <div class="row">
        <app-avatar
          [imageUrl]="'https://i.postimg.cc/dVBYXD7W/Camilo-Castellanos-2.webp'"
          [size]="300"
          [focusX]="0"
          [focusY]="-30"
          class="center-element"
        ></app-avatar>
      </div> -->
      <div class="row">
        <app-about [lang]="lang"> </app-about>
      </div>
    </div>
  </div>
</section>

<section class="section" id="services">
  <app-experience [lang]="lang"> </app-experience>
</section>

<section class="section" id="resume">
  <app-curriculum-vitae [lang]="lang"></app-curriculum-vitae>
</section>
