<div class="containerLibro mt-6 my-3" href="#">
  @for (project of projectList(); track project) {
  <div class="libro">
    <a [href]="project.url" target="_blank">
      <div class="imagenLibro image is-4by5">
        <img
          [src]="project.image2"
          alt="Camilo Castellanos - {{ project.title }}"
          width=" 300px"
          height="400px"
        />
      </div>
      <div class="contenido">
        <h2
          class="title is-3 has-text-centered typography-lora font-weight-600"
        >
          {{ project | translateText : "title" : "titleEn" }}
        </h2>
        <p class="typography-open-sans font-weight-600">
          {{ project | translateText : "description" : "descriptionEn" }}
        </p>
      </div>
    </a>
  </div>
  }
</div>
